body {
    font-family: 'Poppins', sans-serif;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.first-banner {
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.second-banner {
    text-align: center;
    color: black;
    padding-top: 80px;
}

.button-items {
    display: inline-block;
    text-align: center;
    margin: 50px;
}

.button-list {
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    color: gray;
    background-color: rgba(242, 234, 234, 0.61);
    border: none;
}

#button-2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    color: red;
    background-color: rgba(227, 110, 110, 0.61);
    border-color: rgb(244, 74, 74);
}

.taka-amount {
    color: rgb(196, 191, 191);
    text-align: center;
    padding-top: 40px;
}

section hr {
    border: 2px solid rgb(177, 170, 170);
    width: 50%;

}

.link {
    padding-top: 50px;
}

.third-banner {
    text-align: center;
    padding-top: 80px;
}

.plan-item {
    display: inline-block;
    width: 20%;
    padding: 40px;
    text-align: left;
    border-radius: 5px;
    font-size: smaller;
    margin: 10px;

}

#food-for-family {
    background-color: rgb(221, 238, 248);
}

#shelter-for-family {
    background-color: rgb(232, 211, 214);
}

#education-for-child {
    background-color: rgb(230, 230, 211);
}

.light-color {
    color: gray;
}

#plan-added {
    padding-bottom: 20px;
}

.last-footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

#first-footer {
    font-family: 'Dancing Script', cursive;
    color: rgb(212, 80, 80);
    font-size: 30px;
}

#second-footer {
    color: white;
    font-size: 10px;
    font-style: normal;
}

.email-update {
    text-align: center;
    margin: 80px;
}

.email-input {
    display: inline-flex;
    background-color: lightgoldenrodyellow;
    padding: 50px 150px;
    margin-top: 50px;
}

#email-button {
    background-color: lightgrey;
    padding: 10px;
    border: none;
}

#subscription-button {
    background-color: rgb(223, 63, 35);
    color: white;
    border: none;
}