body {
    font-family: 'Poppins', sans-serif;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.first-banner {
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px;



}